body.vscode-light {
  background-color: inherit;
}

body.vscode-dark {
  background-color: inherit;
}

body.vscode-high-contrast {
  background-color: inherit;
}

.vscode-light pre .hljs-attribute {
  color: #c82829;
}

.vscode-dark pre .hljs-attribute {
  color: #cc6666;
}

.vscode-high-contrast pre .hljs-attribute {
  color: #ff9da4;
}

.vscode-light pre .hljs-attr {
  color: #eab700;
}

.vscode-dark pre .hljs-attr {
  color: #f0c674;
}

.vscode-high-contrast pre .hljs-attr {
  color: #ffeead;
}

.vscode-light pre .hljs-number,
.vscode-light pre .hljs-literal {
  color: #f5871f;
}

.vscode-dark pre .hljs-number,
.vscode-dark pre .hljs-literal {
  color: #de935f;
}

.vscode-high-contrast pre .hljs-number,
.vscode-high-contrast pre .hljs-literal {
  color: #ffc58f;
}

.vscode-light pre .hljs-string {
  color: #718c00;
}

.vscode-dark pre .hljs-string {
  color: #b5bd68;
}

.vscode-high-contrast pre .hljs-string {
  color: #d1f1a9;
}

.vscode-light pre .hljs-keyword {
  color: #8959a8;
}

.vscode-dark pre .hljs-keyword {
  color: #b294bb;
}

.vscode-high-contrast pre .hljs-keyword {
  color: #ebbbff;
}

code {
  display: block;
  background: inherit;
  font-family: Menlo, Monaco, Consolas, "Droid Sans Mono", "Courier New", monospace, "Droid Sans Fallback";
  font-size: 13px;
  line-height: 1.5;
  padding: 10px;
  white-space: pre-wrap;
  word-break: break-all;
}

.vscode-light pre code {
  color: #4d4d4c;
}

.vscode-dark pre code {
  color: #c5c8c6;
}

.vscode-high-contrast pre code {
  color: white;
}

code .line {
  display: inline-block;
  position: relative;
  padding-left: calc(2ch + 18px );
}

code .line:after {
  content: ' ';
}

code .line:before {
  box-sizing: content-box;
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
  text-align: right;
  width: 2ch;
  content: attr(start);
  padding-right: 9px;
  padding-left: 9px;
  margin-left: calc(-2ch + -27px );
  margin-right: 9px;
  color: #787878;
  background-color: inherit;
}

a {
  color: #4080D0;
  text-decoration: none;
}

a:hover {
  color: #4080D0;
  text-decoration: underline;
}

/* Copy from https://github.com/Microsoft/vscode-docs/blob/master/release-notes/css/inproduct_releasenotes.css */
#scroll-to-top {
  position: fixed;
  width: 40px;
  height: 40px;
  right: 25px;
  bottom: 25px;
  background-color:#444444;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0,0,0,.25);
}

#scroll-to-top:hover {
  background-color:#007acc;
  box-shadow: 2px 2px 2px rgba(0,0,0,.25);
}

/* Theme-specific colors */
body.vscode-light #scroll-to-top {
  background-color: #949494;
}
body.vscode-light #scroll-to-top:hover {
  background-color: #007acc;
}

body.vscode-high-contrast #scroll-to-top {
  background-color: black;
  border: 2px solid #6fc3df;
  box-shadow: none;
}
body.vscode-high-contrast #scroll-to-top:hover {
  background-color: #007acc;
}

#scroll-to-top span.icon::before {
  content: "";
  /* Chevron up icon */
  background:url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDE5LjIuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHZpZXdCb3g9IjAgMCAxNiAxNiIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMTYgMTY7IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHN0eWxlIHR5cGU9InRleHQvY3NzIj4KCS5zdDB7ZmlsbDojRkZGRkZGO30KCS5zdDF7ZmlsbDpub25lO30KPC9zdHlsZT4KPHRpdGxlPnVwY2hldnJvbjwvdGl0bGU+CjxwYXRoIGNsYXNzPSJzdDAiIGQ9Ik04LDUuMWwtNy4zLDcuM0wwLDExLjZsOC04bDgsOGwtMC43LDAuN0w4LDUuMXoiLz4KPHJlY3QgY2xhc3M9InN0MSIgd2lkdGg9IjE2IiBoZWlnaHQ9IjE2Ii8+Cjwvc3ZnPgo=');
  width: 1.6rem;
  height: 1.6rem;
  position: absolute;
  left: calc(50% - 1.6rem / 2);
  top: calc(50% - 1.6rem / 2);
}